<div class="container-fluid">
    <div class="row row-cols-2">

        <div class="card-item col">
            <div class="card">
                <div class="row g-0">
                    <div class="card-img col-md-6">

                        <img class="img-fluid" src="/assets/img/organizers/hanna45.png">

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h4 class="card-title">Hannaneh Hajishirzi
                            </h4>

                            <h6 class="card-text">University of Washington / Ai2
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/hannahajishirzi" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>


                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.ca/citations?user=LOV6_WIAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://homes.cs.washington.edu/~hannaneh/" title="Website" target="_blank"
                                           rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-item col">
            <div class="card">
                <div class="row g-0">
                    <div class="card-img col-md-6">

                        <img class="img-fluid" src="/assets/img/organizers/neubig45.png">

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h4 class="card-title">Graham Neubig
                            </h4>

                            <h6 class="card-text"> Carnegie Mellon University / All Hands AI
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Bluesky">
                                    <a href="https://bsky.app/profile/gneubig.bsky.social" title="Bluesky" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-bluesky"></i></a>
                                </div>

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/gneubig" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>


                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.co.in/citations?user=wlosgkoAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://www.phontron.com/" title="Website" target="_blank"
                                           rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>