<div class="container-fluid">
    <div class="row">

        <div class="card-item col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="row g-0 h-100">
                    <div class="card-img col-md-6">


                        <img class="img-fluid" src="/assets/img/organizers/ehsan34.png">

                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title">Ehsan Kamalloo
                            </h5>

                            <h6 class="card-text">ServiceNow Research
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Bluesky">
                                    <a href="https://bsky.app/profile/ehsk0.bsky.social" title="Bluesky" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-bluesky"></i></a>
                                </div>

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/ehsk0" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>


                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.ca/citations?user=fbXV5WcAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://ehsk.github.io/" title="Website" target="_blank"
                                           rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-item col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="row g-0 h-100">
                    <div class="card-img col-md-6">

                        <img class="img-fluid" src="/assets/img/organizers/nicolas34.png">

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Nicolas Gontier
                            </h5>

                            <h6 class="card-text">ServiceNow Research
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/nicogontier" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>


                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.co.in/citations?user=KNaO2qUAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://sites.google.com/view/nicolasag" title="Website" target="_blank"
                                           rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-item col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="row g-0 h-100">
                    <div class="card-img col-md-6">


                        <img class="img-fluid" src="/assets/img/organizers/xing34.png">

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Xing Han Lu
                            </h5>

                            <h6 class="card-text">McGill University / Mila
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Bluesky">
                                    <a href="https://bsky.app/profile/xhluca.bsky.social" title="Bluesky" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-bluesky"></i></a>
                                </div>

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/xhluca" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>

                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.co.in/citations?user=ekoOv3YAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://xinghanlu.com/" title="Website" target="_blank"
                                           rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-item col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="row g-0 h-100">
                    <div class="card-img col-md-6">

                        <img class="img-fluid" src="/assets/img/organizers/shikhar34.png">

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Shikhar Murty
                            </h5>

                            <h6 class="card-text">Stanford University
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Bluesky">
                                    <a href="https://bsky.app/profile/shikharmurty.bsky.social" title="Bluesky" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-bluesky"></i></a>
                                </div>

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/ShikharMurty" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>


                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.ca/citations?user=ubAcojQAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://murtyshikhar.github.io/" title="Website" target="_blank"
                                           rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-item col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="row g-0 h-100">
                    <div class="card-img col-md-6">

                        <img class="img-fluid" src="/assets/img/organizers/alexandre34.png">

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Alexandre Lacoste
                            </h5>

                            <h6 class="card-text">ServiceNow Research
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Bluesky">
                                    <a href="https://bsky.app/profile/alex-lacoste.bsky.social" title="Bluesky" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-bluesky"></i></a>
                                </div>

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/alex_lacoste_" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>


                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.ca/citations?user=71a2-WMAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="linkedin-icon">
                                    <div class="icon" data-toggle="tooltip" title="LinkedIn">
                                        <a href="https://www.linkedin.com/in/alexandre-lacoste-4032465/" title="LinkedIn" target="_blank"
                                           rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-item col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="row g-0 h-100">
                    <div class="card-img col-md-6">


                        <img class="img-fluid" src="/assets/img/organizers/nouha34.png">

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Nouha Dziri
                            </h5>

                            <h6 class="card-text">Ai2
                            </h6>

                            <div class="row ml-1 mr-1 p-0">

                                 
                                <div class="icon" data-toggle="tooltip" title="Bluesky">
                                    <a href="https://bsky.app/profile/nouhadziri.bsky.social" title="Bluesky" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-bluesky"></i></a>
                                </div>

                                 
                                <div class="icon" data-toggle="tooltip" title="Twitter">
                                    <a href="https://x.com/nouhadziri" title="Twitter" target="_blank"
                                       rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                </div>


                                 
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                        <a href="https://scholar.google.ca/citations?user=IqcCDXkAAAAJ"
                                           title="GoogleScholar"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>


                                 
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="http://nouhadziri.com/" title="Website" target="_blank"
                                           rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>